<div>
  <mat-card *ngIf="editPersonForm">
    <form [formGroup]="editPersonForm" class="edit-person-form">
      <mat-form-field>
        <input matInput type="text" placeholder="First Name" [formControlName]="personProps.firstName" />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Last Name" [formControlName]="personProps.lastName" />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Personal Number" [formControlName]="personProps.personalNumber" />
      </mat-form-field>
      <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Birthday Date" [formControlName]="personProps.birthDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Gender" [formControlName]="personProps.gender">
          <mat-option [value]="gender.male">Male</mat-option>
          <mat-option [value]="gender.female">Female</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Salary" [formControlName]="personProps.salary" />
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" (click)="submit()" [disabled]="!editPersonForm.valid">
          Save
        </button>
      </div>
    </form>
  </mat-card>
</div>
